article.blog__item
	img.blog__img(src=`/uploads/${article.Photo}`)
	h3.blog__title= article.Name
	.blog__info
		span.blog__time
			i.material-icons.blog__icon access_time
			span Опубликовано #{h.moment(article.Created).format('L')} 05/10/2017, 17:00
		span.blog__address
			i.material-icons.blog__icon location_on
			span Москва, Лермонтова 72/2
	p.blog__text #{article.Text.slice(0, 300)}...
	a.blog__link(href=`/articles/${article.ID}`) Подробнее