include ../mixins/_search

aside.blog__side
	+search('Найти статью')
	if categories
		.blog-categories
			h4.blog-categories__title Категории
			ul.blog-categories__list
				each category in categories
					li.blog-categories__item: a.blog-categories__link(href=`/blog/pages/1/${category.ID}`)= category.Name
	.blog-recent
		h4.blog-recent__title Последние статьи
		- const recent = [{ "img": "blog2_small", "href": "article", "name": "Невероятная паста с томатами", "date": "01/10/2017"}, { "img": "blog3_small", "href": "article", "name": "День азиатской кухни", "date": "01/10/2017"}, { "img": "blog4_small", "href": "article", "name": "Оформление летних столов", "date": "01/10/2017"}]
		ul.blog-recent__list
			each item in recent
				li.blog-recent__item: a.blog-recent__link(href=`/article/${item.href}`)
					img.blog-recent__img(src=`/images/blog/${item.img}.jpg`)
					span.blog-recent__name= item.name
					span.blog-recent__date= item.date
	.calendar__holder
	include ../components/special
	if tags
		.blog__tags.tags
			h4.tags__title Теги
			ul.tags__list
				each tag in tags
					li.tags__item: a.tags__link(href=`/blog/pages/1/tag/${tag.ID}`)= tag.Name