section.events
	include ../mixins/_title
	+title('Последние события', 'Не пропустите')
	//h2.title
		span.title__text.title__text_accent.title__text_font-garden Последние события
		span.title__text Не пропустите
		img.title__img(src="/images/surprize-chef.png")
	ul.events__list
		- const evts = [{"img": "event3", "href": "/events/3", "name": "Вечер изысканных напитков", "desc": " Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Приставка на берегу, которое букв родного повстречался осталось заманивший дал великий текстов грустный? Запятой даль снова, пояс маленькая бросил обеспечивает ведущими!", "datetime": "15 октября 2017"}, {"img": "event2", "href": "/events/2", "name": "День азиатской кухни", "desc": " Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Приставка на берегу, которое букв родного повстречался осталось заманивший дал великий текстов грустный? Запятой даль снова, пояс маленькая бросил обеспечивает ведущими!", "datetime": "25 октября 2017"}, {"img": "event1", "href": "/events/1", "name": "День здорового питания", "desc": " Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Приставка на берегу, которое букв родного повстречался осталось заманивший дал великий текстов грустный? Запятой даль снова, пояс маленькая бросил обеспечивает ведущими!", "datetime": "3 ноября 2017"}]
		each event in evts
			li.events__item(style=`background-image: url(/images/${event.img}.jpg)`)
				.events__content
					h3.events__name= event.name
					p.events__desc #{event.desc.slice(0, 50)}...
					.events__datetime
						i.material-icons access_time
						span Опубликовано #{event.datetime}
					a.btn.events__link(href=event.href) Подробнее