if shoppingCart && shoppingCart.length
	.shop-cart
		h4.side-title Корзина
		ul.side-list
			- let total = 0
			each product in shoppingCart
				li.side-list__item: a.side-list__link(href=`/shop/${product.ID}`)
					img.side-list__img(src=`/uploads/${product.Photo}`)
					span.side-list__name= product.Name
					span.side-list__price $ #{product.Price}
					- total += product.Price * product.Count
		.shop-cart__total
			span.shop-cart__price-title Итоговая цена:
			span.shop-cart__price.money-with-before #{total}
		.shop-cart__links
			a.btn(href="/cart") Корзина
			a.btn(href="/checkout") Заказать