extends layout

include mixins/_breadcrumbs
include mixins/_search

block content
	main.blog.article
		+breadcrumbs('Статья', { "name": "Главная", "href": "/" }, { "name": "Блог", "href": "/blog" }, { "name": "Статья", "href": "/article" })
		.article__inner
			if article
				.article__wrapper
					article.blog__item
						img.blog__img(src=`/uploads/${article.Photo}`)
						h3.blog__title= article.Name
						.blog__info
							span.blog__time
								i.material-icons.blog__icon access_time
								span Опубликовано #{h.moment(article.Created).format('L')}
							span.blog__address
								i.material-icons.blog__icon location_on
								span Москва, Лермонтова 72/2
						p.blog__text= article.Text
						.article__quote.quote
							i.material-icons.quote__icon format_quote
							p.quote__text= article.Quote
						if articleTags
							.article-tags
								span.article-tags__title Теги
								ul.article-tags__list
									each tag in articleTags
										li.article-tags__item: a.article-tags__link(href=`/blog/tags/${tag.Name}`)= tag.Name
						if articleCategories
							.article-categories
								span.article-categories__title Категории
								ul.article-categories__list
									each category in articleCategories
										li.article-categories__item: a.article-categories__link(href=`/blog/categories/${category.Name}`)= category.Name
						.article__comments.comments
							h3.comments__title Комментарии (2)
							.comments__item
								img.comments__img(src="/images/photo_default.png")
								p.comments__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рыбными от всех дал, свой ведущими, сбить то текст ipsum дорогу заголовок своего предупредила языком вопроса страна имеет точках! Меня, возвращайся!
							.comments__item
								img.comments__img(src="/images/photo_default.png")
								p.comments__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рыбными от всех дал, свой ведущими, сбить то текст ipsum дорогу заголовок своего предупредила языком вопроса страна имеет точках! Меня, возвращайся!
						include components/comments-form
			include partials/blog-side