extends layout

include mixins/_breadcrumbs

block content
	main
		+breadcrumbs('Корзина', { "name": "Главная", "href": "/index.html" }, { "name": "Корзина", "href": "/cart.html" })
		section.cart
			.cart__wrapper
				- const cart = [{"img": "1_small", "ID": "1", "name": "Толстовка розовая", "price": "20"}, {"img": "2_small", "ID": "2", "name": "Толстовка серая", "price": "25"}]
				.cart__inner
					table.table.cart__table
						thead
							tr
								td Фото
								td Продукт
								td Цена
								td Колличество
								td Итого
								td Удалить
						tbody
							each product in cart
								tr
									td
										img.cart__product-photo(src=`/public/images/shop/${product.img}.jpg`)
									td= product.name
									td $ #{product.price}
									td
										include components/counter
									td $ #{product.price}
									td
										i.material-icons.cart__product-delete(data-id=product.ID) delete
					.cart__bottom-line
						.cart__coupon
							i.material-icons card_giftcard
							input.cart__coupon__input.input#coupon(type="text" name="coupon" placeholder="Код купона")
						button.btn.btn_small#send-coupon Отправить купон
						button.btn.btn_small#update-cart Обновить корзину
				.cart__totals.totals
					h3.totals__title Итоги вашего шоппинга
					table.table.totals__table
						tr
							td.totals__name Подитог
							td.totals__value#subtotal 33
						tr
							td.totals__name Итог
							td.totals__value#total 33
					button.btn.btn_small.btn_center Оформить заказ
				.same-products
					h3.title Вам может также понравиться
					- const products = [{"img": "1", "ID": "1", "name": "Толстовка розовая", "price": "20"}, {"img": "2", "ID": "2", "name": "Толстовка серая", "price": "25"}, {"img": "3", "ID": "3", "name": "Толстовка черная", "price": "15"}]
					.same-products__list
						each product in products
							a.same-products__item.shop-product(href=`/shop/products/${product.ID}`)
								img.shop-product__img(src=`/public/images/shop/${product.img}.jpg`)
								span.shop-product__name= product.name
								span.shop-product__price $ #{product.price}
								button.btn_small.btn#btn-add-to-cart(data-id=product.ID) Добавить в корзину
			include partials/blog-side