extends layout

include mixins/_breadcrumbs

block content
	main
		+breadcrumbs('Корзина', { "name": "Главная", "href": "/" }, { "name": "Корзина", "href": "/cart" })
		section.cart
			.cart__wrapper
				.cart__inner
					table.table.cart__table
						thead
							tr
								td Фото
								td Продукт
								td Цена
								td Колличество
								td Итого
								td Удалить
						tbody
							- let total = 0
							each product in shoppingCart
								- total += product.Price * product.Count
								tr
									td
										img.cart__product-photo(src=`/uploads/${product.Photo}`)
									td= product.Name
									td.product-price.money-with-before #{product.Price}
									td
										include components/counter
									td.product-total-price.money-with-before #{product.Price * product.Count}
									td
										i.material-icons.cart__product-delete(data-id=product.ID) delete
					.cart__bottom-line
						.cart__coupon
							i.material-icons card_giftcard
							input.cart__coupon__input.input#coupon(type="text" name="coupon" placeholder="Код купона")
						button.btn.btn_small#send-coupon Отправить купон
						button.btn.btn_small#update-cart Обновить корзину
				.cart__totals.totals
					h3.totals__title Итоги вашего шоппинга
					table.table.totals__table
						tr
							td.totals__name Подитог
							td.totals__value#subtotal= total - total * (Discount / 100)
						tr
							td.totals__name Итог
							td.totals__value#total= total
					button.btn.btn_small.btn_center Оформить заказ
				.same-products
					h3.title Вам может также понравиться
					.same-products__list
						each product in otherProducts
							a.same-products__item.shop-product(href=`/product/${product.ID}`)
								img.shop-product__img(src=`/uploads/${product.Photo}`)
								span.shop-product__name= product.Name
								span.shop-product__price $ #{product.Price}
								button.btn_small.btn.add-to-cart(data-id=product.ID) Добавить в корзину
			include partials/blog-side