extends layout

include mixins/_breadcrumbs

block content
	main
		+breadcrumbs('Продукт', { "name": "Главная", "href": "/" }, { "name": "Магазин", "href": "/shop" }, { "name": "Продукт", "href": "/product" })
		if product
			section.product
				.product__wrapper
					.product__inner
						.product__view
							img.product__img(src=`/uploads/${product.Photo}`)
							.product__rating(title=`Рейтинг ${rating || 0} из 5 звёзд`)
								= `★`.repeat(rating || 0)
								= `☆`.repeat(5 - (rating || 0))
						.product__info
							h4.product__name= product.Name
							span.product__price $ #{product.Price}
							p.product__desc= product.Description
							.product__cart-line
								include components/counter
								button.btn.btn_small.add-to-cart(data-id=product.ID) Добавить в корзину
								button.btn.btn_small.btn-show-reviews-popup Добавить отзыв
							.product-likes
								i.material-icons#like.product-likes__icon(data-action=`/product/${product.ID}/like`, class=(hearted ? 'product-likes__icon_liked' : '')) thumb_up
								span.product-likes__count= likesCount ? likesCount : 0
							.product-categories
								- const pCategories = [{ "name": "Одежда", "ID": "1" }, { "name": "Футболка" , "ID": "2" }]
								span.product-categories__title Категории
								ul.product-categories__list
									each category in pCategories
										li.product-categories__item: a.product-categories__link(href=`/shop/categories/${category.ID}`)= category.name
					.tabs.product__tabs
						ul.tabs-nav
							li.tabs-nav__item.tabs-nav__item_active Описание
							li.tabs-nav__item Отзывы (
								span#reviews-count #{ reviews ? reviews.length : 0 }
								|)
						.tabs__item.tabs__item_active
								p.product__desc= product.Description
						.tabs__item.comments
							if reviews && reviews.length
								each review in reviews
									include components/comment
					if sameProducts && sameProducts.length
						.product__same-products.same-products
							h3.title Вам может также понравиться
							.same-products__list
								each p in sameProducts
									a.same-products__item.shop-product(href=`/product/${p.ID}`)
										img.shop-product__img(src=`/uploads/${p.Photo}`)
										span.shop-product__name= p.Name
										span.shop-product__price $ #{p.Price}
										button.btn_small.btn#btn-add-to-cart(data-id=p.ID) Добавить в корзину
				aside.product__side
					include partials/shop-categories
					include partials/shop-top
					include partials/side-cart
			.popup.reviews-popup
				.popup__content
					h3.reviews-popup__title.title Отзыв
					.reviews-popup__stars
						span.star(data-star="5")
						span.star(data-star="4")
						span.star(data-star="3")
						span.star(data-star="2")
						span.star(data-star="1")
					form#review-form(action=`/product/${product.ID}/review`)
						textarea.textarea(placeholder="Ваш отзыв")
						input.input#name(type="text" name="name" placeholder="Ваше имя")
						input.input#email(type="email" name="email" placeholder="Ваш Email")
						button.btn.btn_small.btn_center.reviews-popup__btn Отправить отзыв
					.btn_hide-popup