include ../mixins/_toggle-items
.blog-editor
	//form.blog-editor__form.form(method="POST" action=`/article/add`)
	form.blog-editor__form.form(method="POST" action=`/article/${article ? `${article.ID}/edit` : 'add'}`)
		.form-group.form-group_1
			i.material-icons bubble_chart
			input.input#articleName(type="text" name="articleName" placeholder="Название статьи" value=(article ? article.Name : ''))
		.form-group.form-group_1
			i.material-icons add_a_photo
			label.label_file 
				span Фото
				input.input_file#photo(type="file" name="photo" placeholder="Фото" data-value=(article ? article.Photo : ''))
		.form-group.form-group_1
			//i.material-icons format_quote
			textarea.textarea#quote(name="quote" placeholder="Цитата")=(article ? article.Quote : '')
		.form-group.form-group_1
			//i.material-icons message
			textarea.textarea#desc(name="desc" placeholder="Описание")=(article ? article.Text : '')
		+toggleItems('categories', 'Категория')
		+toggleItems('tags', 'Тег')
		if article
			button.btn.btn_small Сохранить
			button.btn.btn_small#remove(type="button" data-action=`/blog/${article.ID}`) Удалить
		else
			button.btn.btn_small.btn_center Сохранить