.orders
	h3.title Ваши заказы
	- const orders = [{ "Created": Date.now(), "Total": 57, "ID": 1 }, { "Created": Date.now(), "Total": 57, "ID": 1 }]
	table.table.orders-table
		thead
			tr
				td Заказ
				td Дата
				td Цена
				td Статус
				td Детали
		tbody
			if orders
				each order, index in orders
					tr
						td= index + 1
						td= order.Created
						//td= h.moment(order.Created).format('L')
						td $ #{order.Total || 0}
						td= order.Status || 'На складе'
						td.show-order-details-popup(data-id=order.ID) Посмотреть
.popup.order-details-popup
	.popup__content
		span.btn_hide-popup
